body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 88%;
}

.header {
  margin-bottom: 22px;
}

.header,
.block-right,
.block-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-left,
.block-right {
  margin-top: 23px;
}

.logo {
  padding: 8px 28px 0 0;
}

.menu__item,
.block-right {
  font: 12px/12px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
}

.menu__item {
  padding: 0 16px;
  color: #000;
  text-decoration: none;
}

.menu__item:last-child {
  padding-left: 14px;
}

.block-right__search {
  padding: 0 21px;
}

.block-right__sing {
  padding: 0 19px;
  color: #000;
  text-decoration: none;
}

.block-right__cart {
  padding: 0 1px 0 19px;
  color: #000;
  text-decoration: none;
}

.block-right__img {
  padding: 0 17px 0 0;
}

.block-right__flag {
  padding-left: 18px;
  padding-right: 0;
}

.one {
  display: block;
  height: 280px;
  background: url(img/baner1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 53px;
}

.one__title {
  font: 30px/29px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #fff;
  margin: 0 75% 15px 60px;
  padding-top: 90px;
}

.one__button {
  font: 12px/13px 'Gotham Pro Medium', Arial, Helvetica, Sans-serif;
  color: #fff;
  text-decoration: none;
  margin-left: 60px;
  margin-right: 10px;
}

.button {
  display: flex;
  justify-content: flex-start;
}

.arrow {
  cursor: pointer;
  position: relative;
  width: 44px;
  height: 10px;
  margin: 0;
}

.arrow div {
  position: relative;
  top: 6px;
  width: 43px;
  height: 1px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  left: 0;
  display: block;
}

.arrow div::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  top: -2px;
  right: -1px;
  background-color: #fff;
  transform: rotate(45deg);
}

.arrow div::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  top: 2px;
  right: -1px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

.arrow:hover {
  animation: arrow 1s linear infinite;
}

@keyframes arrow {
  0% {
    left: 0;
  }

  50% {
    left: 10px;
  }

  100% {
    left: 0;
  }
}

.product__title {
  text-align: center;
  font: 22px/21px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  margin-bottom: 20px;
}

.product-assortment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.product-assortment__vl {
  border-left: 1px solid #000;
  opacity: 0.2;
  height: 100px;
  margin-top: 50px;
}

.product-card__img {
  margin: 0 19px 24px 23px;
}

.product-card__name {
  font: 12px/12px 'Gotham Pro Medium', Arial, Helvetica, Sans-serif;
  padding-left: 12px;
  margin: auto;
}

.product-card__price {
  font: 14px/13px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  padding-left: 11px;
  margin: 0;
}

.wrapper__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.choice {
  display: flex;
  justify-content: space-around;
  width: 70px;
  margin-right: 3px;
}

.choice__item {
  cursor: pointer;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: none;
  padding: 0 4px;
  transition: transform 0.2s;
}

.choice__item:hover {
  transform: scale(1.5);
}

.choice__item_gray {
  background: #c4c4c4;
}

.choice__item_black {
  background: #0e1211;
}

.choice__item_red {
  background: #b62e3c;
}

.choice__item_yellow {
  background: #fdb431;
}

.choice__item_orange {
  background: #e29d69;
}

.choice__item_brown {
  background: #762e31;
}

.choice__item_navy {
  background: #41479b;
}

.choice__item_blue {
  background: #257da9;
}

.tree {
  display: flex;
  justify-content: space-between;
  background: #000;
  margin-bottom: 83px;
}

.tree__video {
  padding: 65px 18px 63px 32px;
  width: 63%;
}

.tree-text {
  height: 40%;
  width: 28%;
  margin-top: 132px;
  margin-right: 30px;
  padding-left: 25px;
}

.tree-text__title {
  font: 22px/27px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 17px;
}

.tree-text__subtitle {
  font: 14px/17px 'Gotham Pro Light', Arial, Helvetica, Sans-serif;
  color: #fff;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 0;
}

.tree-text__button {
  font: 12px/12px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.stories__title {
  text-align: center;
  font: 22px/21px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 42px;
  margin-top: 0;
}

.srories-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 69px;
}

.stories {
  width: 307px;
}

.stories:last-child {
  margin-right: 0;
}

.stories__img {
  margin-bottom: 27px;
}

.stories__subtitle {
  font: 18px/17px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #000;
  margin-bottom: 10px;
  margin-top: 0;
}

.stories__text {
  font: 14px/17px 'Gotham Pro Light', Arial, Helvetica, Sans-serif;
  color: #000;
  height: 85px;
}

.stories__button {
  font: 12px/14px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #000;
  text-decoration: none;
  margin-right: 10px;
}

.arrow__1 div,
.arrow__1 div::after,
.arrow__1 div::before {
  background-color: #000;
}

.arrow__1 div {
  width: 27px;
}

.stories__data {
  font: 12px/12px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #000;
  opacity: 30%;
}

figcaption {
  text-align: right;
  font: 18px/17px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #000;
  opacity: 30%;
  margin-bottom: 8px;
}

figure {
  margin: 0;
  font-size: 0;
  white-space: nowrap;
  margin-bottom: 81px;
}

.gallery {
  width: 147px;
}

footer {
  background-color: #000;
  height: 300px;
}

.footer-wrapper {
  display: flex;
  width: 72%;
  margin: auto;
  margin-bottom: 52px;
  padding-top: 55px;
}

.footer-account {
  margin: 0 115px 0 35px;
}

.footer-service {
  margin-right: 72px;
}

.footer-miscel {
  margin-right: 87px;
}

.footer-account__title,
.footer-service__title,
.footer-miscel__title,
.footer-sing__title {
  font: 12px/12px 'Gotham Pro Bold', Arial, Helvetica, Sans-serif;
  color: #fff;
  margin-bottom: 7px;
}

.footer-sing__subtitle {
  font: 12px/12px 'Gotham Pro Light', Arial, Helvetica, Sans-serif;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
}

.menu-account,
.menu-service,
.menu-miscel {
  padding-left: 0;
  margin: 0;
}

.menu-account__item,
.menu-service__item,
.menu-miscel__item {
  font: 12px/12px 'Gotham Pro Light', Arial, Helvetica, Sans-serif;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}

.footer-sing__button {
  font: 10px/10px 'Gotham Pro Medium', Arial, Helvetica, Sans-serif;
  color: #fff;
  background: #000;
  border-color: #fff;
  padding: 11px 40px 8px 44px;
  margin-bottom: 33px;
}

.social-icons {
  display: flex;
}

.social-icons__item {
  padding: 0 24px 0 0;
}

.footer__niz {
  font: 12px/12px 'Gotham Pro Light', Arial, Helvetica, Sans-serif;
  color: #fff;
  text-align: center;
}

.one__button:hover,
.menu__item:hover,
.block-right__search:hover,
.block-right__sing:hover,
.block-right__cart:hover,
.block-right__img:hover,
.block-right__flag:hover,
.tree-text__button:hover,
.stories__button:hover,
.menu-account__item:hover,
.menu-service__item:hover,
.menu-miscel__item:hover,
.footer-sing__button:hover,
.social__item:hover {
  opacity: 0.5;
}
